@import "tailwindcss";
.once {
  animation-iteration-count: 1;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow-x: hidden;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.nav-gradient {
  background: linear-gradient(to bottom, rgb(2, 26, 53) 1%,black 90% );
}

.bro-spotlight {
  background: conic-gradient(from 70deg at center top, #06b6d4, transparent);
  width: 100%;
  height: 2rem; /* Flat rectangle */
  filter: blur(5px); /* Light glow */
  opacity: 1; /* Visible but not too bright */
  mask-image: linear-gradient(to top, white, transparent); /* Fade out at the top */
  mix-blend-mode: normal; /* No blending - pure lamp effect */
  border-radius: 10%; /* Slightly soft edges */
}

.bro-spotlight-right {
  background: conic-gradient(from 290deg at center top, transparent, #06b6d4);
  width: 100%;
  height: 2rem; /* Flat rectangle */
  filter: blur(5px); /* Light glow */
  opacity: 1; /* Fully visible */
  mask-image: linear-gradient(to top, white, transparent); /* Fade out at the top */
  mix-blend-mode: normal; /* No blending - pure lamp effect */
  border-radius: 10%; /* Slightly soft edges */
}



.scroll-down {
  transform: translate3d(0, -100%, 0);
  animation: floatColors 12s ease-in-out infinite;
  transition: transform 1s ease-out; 
}

.scroll-up {
  border-bottom: 1px solid #ffffff33;
  transition: all 0.9s ease-out;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
